/* footer  */

.footer {
    text-align: center;
    background-color: black;
    padding: 1em;
  }
  
  .footer .footer-section {
    position: relative;
    min-width: 100vw;
    font-size: 12px;
    font-family: sans-serif;
    /* z-index: -2; */
   
    color: white;
  }