

<div class="wrapper">
  <div class="profile-card js-profile-card">
    <div class="profile-card__img">
      <img *ngIf="currentUser.gender === 'Male'" src="/assets/profile.png" alt="profile card">
      <img *ngIf="currentUser.gender === 'Female'" src="/assets/fem.png" alt="profile card">
      <img *ngIf="currentUser.gender === 'Other'" src="/assets/other.png" alt="profile card">
    </div>

    <div class="profile-card__cnt js-profile-cnt">
      <div class="profile-card__name">  {{currentUser.username}}</div>
      <div class="profile-card__txt">Email: {{currentUser.email}}</div>
      <div class="profile-card-loc">
        <span class="profile-card-loc__icon">
          <svg class="icon"><use xlink:href="#icon-location"></use></svg>
        </span>

        <span class="profile-card-loc__txt">
          Telephone number: {{currentUser.telephone}}
        </span>
      </div>

      <div class="profile-card-inf">
        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{followers.length}}</div>
          <div class="profile-card-inf__txt">Followers</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{followings.length}}</div>
          <div class="profile-card-inf__txt">Following</div>
        </div>
        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{postsArray.length}}</div>
          <div class="profile-card-inf__txt">Posts</div>
        </div>
      </div>
          <h1>Posts</h1>
      <div class="profile-card-social" *ngIf="postsArray.length == 0">
        <h1>No posts from this user</h1>
      </div>
      <div class="profile-card-social">
        <div *ngFor="let post of postsArray">
          <a [routerLink]="['/themes',post.id]" class="profile-card-social__item instagram">
            <img class="img" src="{{ post.img }}" alt="img">
          </a>
        </div>
      </div>

      <div class="profile-card-ctr">
        <ng-container *ngIf="currentId !== id">
          <button [routerLink]="['/chats',id]" class="profile-card__button button--blue js-message-btn">Message</button>
          <button *ngIf="!isFollow" class="profile-card__button button--blue" (click)="follow(currentId)">Follow</button>
          <button *ngIf="isFollow" class="profile-card__button button--orange" (click)="unFollow(currentId,id)">Unfollow</button>
        </ng-container>
      </div>
    </div>

    <div class="profile-card-message js-message">
      <form class="profile-card-form">
        <div class="profile-card-form__container">
          <textarea placeholder="Say something..."></textarea>
        </div>

        <div class="profile-card-form__bottom">
          <button class="profile-card__button button--blue js-message-close">
            Send
          </button>

          <button class="profile-card__button button--gray js-message-close">
            Cancel
          </button>
        </div>
      </form>

      <div class="profile-card__overlay js-message-close"></div>
    </div>

  </div>

</div>

