
<div class="container">
  <div class="col-9">
      <div class="top">
        <div class="userDetails">
          <div>
            <div class="profilepic">
              <div class="profile_img">
                <div class="image">
                  <img src="/assets/person.png" alt="img8" />
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div *ngIf="isLoading">
              <app-loader/>
            </div>
          <h3>
            <p>
              
              <!-- User's username -->
              Username:{{currentUser.username}}
            </p>
            <!-- photo's location -->
            <span>Location {{currentAnimal.location}}</span>

            <!-- IF the viewer is the creator of the photo -->
            <div *ngIf="isOwner" class="edit-delete-btns">
              <!-- Edit Pet Photo -->
              <a href="#">
                <img
                  class="edit-img"
                  src="/assets/edit-pen-icon-6.jpg"
                  alt="edit button"
                />
              </a>

              <!--Delete Pet Photo -->
              <button class="del-btn" (click)="deleteAnimal()">
                <img
                  class="bin-img"
                  src="/assets/icon-remove-22.jpg"
                  alt="bin button"
                />
              </button>
            </div>
          </h3>
        </div>
      </div>

      <!-- Start Pet Photo -->
      <div class="imgBx">
        <!-- Pet Photo -->
        <img src={{currentAnimal.img}} alt="post" class="cover" />
      </div>
      <p>Breed -> {{currentAnimal.breed}}</p>
      <div class="bottom">
        <p class="message">
          <b class="petDescription">Description {{currentAnimal?.description}}!</b>
        </p>

        <!-- Photo description -->
        <div class="pet-details">
          <p class="petName">Name: {{currentAnimal?.name}}</p>
          <p class="petAge">Age: {{currentAnimal?.age}}</p>
        </div>
      </div>
    
    </div>
  </div>
</div>
