<main>
<div *ngIf="isLoading">
  <app-loader/>
</div>
<div *ngIf="!isLoading" class="profile">
  <a [routerLink]="['/all-users', currentAnimal.owner_id]">
    <div class="profilepic">
      <div class="profile_img">
        <div class="image">
          <img src="/assets/man.png" />
        </div>
      </div>
    </div>
  </a>

<div *ngIf="!isLoading" class="animal-card">
  <div class="owner">
    <span>Owner: {{currentUser.username}}</span>
  </div>
  <div class="image-container">
    <img src="{{currentAnimal.img}}" alt="Animal" class="animal-image" />
    <div *ngIf="isOwner" class="edit-delete-buttons">
      <button class="edit-button" [routerLink]="['/edit-theme',id]">Edit</button>
      <button class="delete-button" (click)="deleteAnimal(currentAnimal.name)">Delete</button>
    </div>
  </div>
  <div class="info">
    <h2 class="name">{{currentAnimal.name}}</h2>
    <p class="age">Age: {{currentAnimal.age}} years</p>
    <p class="breed">Breed: {{currentAnimal.breed}}</p>
  </div>
  <p class="description">
   {{currentAnimal.description}}
  </p>
</div>
</div>
</main>
