.userDetails a {
    color: initial;
  }
  
  .petDescription {
    font-size: 18px;
    margin-left: 10px;
  }
  
  .pet-details {
    margin: 5px 0 5px -1px;
    padding: 10px;
  }
  
  .edit-delete-btns {
    position: absolute;
    top: 20px;
    right: 10px;
  }
  
  .edit-delete-btns img {
    width: 20px;
    margin-left: 5px;
  }
  
  
  .message {
    font-weight: 400;
    margin-top: 5px;
    font-size: 14px;
    color: #777;
    line-height: 1.5em;
  }
  
  .message b {
    color: #262626;
  }
  
  .message span {
    cursor: pointer;
    color: #1d92ff;
  }
  
  .addComments {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .addComments button {
    position: absolute;
    right: 30px;
    color: #1d92ffcb;
    font-weight: 500;
    font-size: 15px;
    border: none;
    background-color: inherit;
    cursor: pointer;
  }
  
  #comment-textarea {
    position: absolute;
    left: 30px;
    width: 85%;
    resize: none;
    overflow: hidden;
    height: 20px;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    color: #262626;
    background: none;
  }
  
  textarea.text::placeholder {
    color: #777;
  }
  
  
  
  .cover{
    width: 500px;
  }
  .imgBx{
    text-align: center;
  }
  h3{
    text-align: center;
  }
  .image{
    text-align: center;
  }
  