<main>
  <!-- Start Add Photo Section -->
  <div class="createPage">
    <h2>Add photo</h2>
    <!-- Start Add Photo Form -->
    <form #form="ngForm" (ngSubmit)="createPost(form)">
      <p>
        <input
          type="text"
          name="name"
          placeholder="Name"
          ngModel
          #inputName="ngModel"
          required
        />
        <ng-container *ngIf="inputName.touched">
          <p class="error" *ngIf="inputName?.errors?.['required']"> Name is required.</p>
        </ng-container>
      </p>

      <p>
        <input
          type="number"
          name="age"
          placeholder="Age"
          #inputAge="ngModel"
          ngModel
          required
        />
        <ng-container *ngIf="inputAge.touched">
          <p class="error" *ngIf="inputAge?.errors?.['required']"> Age is required.</p>
        </ng-container>
      </p>

      <p>
        <textarea
          type="text"
          name="description"
          placeholder="Description"
          ngModel
          #inputDescription="ngModel"
          minlength="10"
          required
        ></textarea>
        <ng-container *ngIf="inputDescription.touched">
          <p class="error" *ngIf="inputDescription?.errors?.['required']"> Description is required.</p>
          <p class="error" *ngIf="inputDescription?.errors?.['minlength']">
            Description should not be less than 10!
          </p>
        </ng-container>
      </p>

      <p>
        <input
          type="text"
          name="location"
          placeholder="Location"
          ngModel
          #inputLocation="ngModel"
          required
        />
        <ng-container *ngIf="inputLocation.touched">
          <p class="error" *ngIf="inputLocation?.errors?.['required']"> Location is required.</p>
        </ng-container>
      </p>

      <p>
        <input
          type="text"
          name="img"
          placeholder="Link to image"
          #inputImg="ngModel"
          ngModel
        />
      </p>
      <!-- Add Photo Button -->
      <button class="add-btn">Add Photo</button>
    </form>
  </div>
</main>
