/* /*  */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #fafafa;
  min-height: 100vh;
}

.error {
  color: red;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 10px 0;
}

.container {
  padding: 10px 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container a {
  color: white;
}

.nav-item a i {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.errorlist li {
  width: 200px;
  color: red;
  list-style-type: none;
}

.container .logo {
  display: flex;
  cursor: pointer;
}

.home {
  font-size: 20px;
  margin: 10px 0 0 3px;
  color: white;
  font-family: "Indie Flower", cursive;
}

.nav-links {
  font-weight: lighter;
  color: rgb(172, 172, 172);
}

.nav-group .nav-item {
  list-style-type: none;
  margin: 0 8px;
}

.nav-group .nav-item a {
  font-size: 18px; 
  display: block;
  color: black;
}

.nav-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action .profile {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-item-logout {
  font-size: 18px; 
  display: block;
  color: black;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: white;
}

app-header {
  width: 100%; 
  margin: 0 auto;
} 



/* ----- */
/* Keep your existing styles */

/* Add the following styles for the burger menu */
.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: blue;
  margin: 6px 0;
  transition: 0.4s;
}


i{
  color: #ddd;
}

.burger-navigation {
  display: none;
  position: absolute;
  top: 30px; /* Adjust this value based on your design */
  right: 40px;
  background-color: wheat;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

.burger.active .burger-navigation {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 720px) {
  .burger {
    display: block;
  }
  .nav-links{
    display: none;
  }

  .burger-navigation li a i{
    /* color: black; */
    font-size: 20px;
    /* border: 1px solid white; */
    text-align: center;
  color: white;
    

  }
  .burger-navigation{
    z-index: 999;
    right: 100px;
    top: 90px;
     display: flex;
    text-align: center;


    /* background-color: black; */
  }
  .burger-navigation ul {
    /* border: 5px solid blue; */
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  
  .burger-navigation li a{
    /* color: black; */
    font-size: 20px;
    /* border: solid red; */
    
  }
  li{
  /* border: 1px solid red */
  width: 120px;
  background-color: black;
  border: 2px solid white;
  border-radius: 0.1em;
  }
  
}






