



<main>
  <div *ngIf="isLoading">
    <app-loader />
  </div>
  <div class="container">
    <div class="col-9">
      <div *ngFor="let car of carsList" class="card">
        <div class="top">
          <div class="userDetails">
            <a [routerLink]="['/all-users', car.owner_id]">
              <div class="profilepic">
                <div class="profile_img">
                  <div class="image">
                    <img src="/assets/person.png" />
                  </div>
                </div>
              </div>
            </a>
            <h3> 
              <p>
                {{ car.brand }} {{car.model}}
              </p>
              <span>{{ car.location }}</span>
            </h3>
          </div>
        </div>

        <div class="imgBx">
          <img src="{{ car.img }}" alt="post" class="cover" />
        </div>
        <h5 class="petAge">Age: {{ car.year }}</h5>

        <a [routerLink]="['/themes', car.id]" id="see-details">
          <h4 class="details">See details</h4>
        </a>
      </div>

      <div *ngIf="!carsList">
        <article class="not-available-photo">
          <h1>No photo posts yet.</h1>
        </article>
       
      </div>
    </div>
  </div>
</main>

