<main>
  <div class="login-register-div">
    <div class="login-register-box">
      <h1>Login</h1>

      <form #form="ngForm" (ngSubmit)="login(form)">
        <p>
          <label>Email:</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="john.doe@gmail.com"
            #inputEmail="ngModel"
            required
            ngModel
            [appEmail]="appEmailDomains"
          />
        </p>
        <ng-container *ngIf="inputEmail.touched">
            <p class="error" *ngIf="inputEmail?.errors?.['required']">
              Email is required!
          </p>
          <p class="error" *ngIf="inputEmail.errors?.['appEmailValidator']">
            Email is not valid!
        </p>
        </ng-container>
       
        <p>
          <label>Password:</label>
          <input
            type="password"
            name="password"
            placeholder="Password"
            id="password"
            placeholder="********"
            #inputPassword="ngModel"
            ngModel
            required
            minlength="8"
          />
        </p>
        <ng-container *ngIf="inputPassword.touched">
          <p class="error" *ngIf="inputPassword?.errors?.['required']">
                  Password is required!
              </p>
              <p class="error" *ngIf="inputPassword?.errors?.['minlength']">
                  Password must be at least {{inputPassword?.errors?.['minlength']['requiredLength']}} characters!
              </p>
        </ng-container>

        <button [disabled]="form.invalid"
        [style]="{backgroundColor:form.invalid ? 'red' : 'blue'}">
          LogIn
        </button>
        <ng-container *ngIf="incorrrectData">
          <p class="error">
                  Incorrect Email or Password!
              </p>
            
        </ng-container>
      </form>
    </div>
    <div class="second-option">
      <p>Don't have account? <a routerLink="/register">Register</a></p>
    </div>
  </div>
</main>
