/* You can add global styles to this file, and also import other style files */

/*
*Removes all default whitespace
*/
* {
    padding: 0;
    margin: 0;
}

/*
*Reset CSS model sizing calculations
*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
 
/* Typography */

html {
    font: 18px/1.5 Verdana, sans-serif;
}

body, form, input, textarea, option, select, button {
    font: inherit;
}

.wrapper app-footer{
    margin-top: auto;
}
app-search{
  background-image: url('assets/dog-search.png'); 
    background-position: top;
}
app-new-theme{
    background-image: url('assets/add-photo.png');
    background-position: top;
}


/* Handle responsiveness */
@media (min-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    html {
        font-size: 18px;
    }
}