
* {
    padding: 0;
    margin: 0;
}

/*
*Reset CSS model sizing calculations
*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
 
/* Typography */

html {
    font: 18px/1.5 Verdana, sans-serif;
}

body, form, input, textarea, option, select, button {
    font: inherit;
}
app-login{
	background-image: url('https://media.discordapp.net/attachments/1131238035296628951/1141073266216280224/desktop-wallpaper-speedofgermany-on-instagram-mercedes-mercedes-benz-g-class-2021.png?width=770&height=962');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.wrapper app-footer{
    margin-top: auto;
}
app-search{
  background-image: url('assets/dog-search.png'); 
    background-position: top;
}
app-new-theme{
    background-image: url('assets/new-car.jpeg');
    background-position: top;
}
app-register{
    background-image: url('https://www.mycarcheck.com/assets/images/1440/heroes/car-tyres.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}


/* Handle responsiveness */
@media (min-width: 800px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1280px) {
    html {
        font-size: 18px;
    }
}