<main>
    <section class="welcome-content">
        <article class="welcome-content-text">
            <h1>Place for your</h1>
            <h1 class="bold-welcome">Cars</h1>
            <p>Buy and sell your car! This is platform for cars.</p>
            <p>You want to buy a car? You are in the right place.</p>
        </article>
        <article class="welcome-content-image">
            <img src="/assets/pngwing.com.png" alt="dog">
        </article>
    </section>
    <h2>Sponsors</h2>
    <section class="sponsors-section">
        <div class="moving-bar">
            
            <div *ngFor="let sponsor of sponsors" class="sponsor-card">
                <img src="{{sponsor.img}}" alt="Sponsor 1 Logo">
                <h3>{{sponsor.name}}</h3>
                    <p>Visit our website for more!</p>
                    <a class="link" href="{{sponsor.link}}" target="_blank">Visit Website for more...
                    </a>
            </div>
        </div>
    </section>

</main>

