<main>
    <section class="welcome-content">
        <article class="welcome-content-text">
            <p class="title">Find your Dream Car Here!</p>
            <p class="second">Buy and sell cars! This is platform for cars.</p>
            <p class="third">You want to buy a car? You are in the right place.</p>
        </article>
    </section>
    <h2>Sponsors</h2>
    <section class="sponsors-section">
        <div class="moving-bar">
            
            <div *ngFor="let sponsor of sponsors" class="sponsor-card">
                <img src="{{sponsor.img}}" alt="Sponsor 1 Logo">
                <h3>{{sponsor.name}}</h3>
                    <p>Visit our website for more!</p>
                    <a class="link" href="{{sponsor.link}}" target="_blank">Visit Website for more...
                    </a>
            </div>
        </div>
    </section>

</main>

